<% if (banks = Spree::Bank.active).present? %>
  <p>Please transfer to: </p>
  <table class="table index">
    <% banks.each do |bank| %>
      <tr>
        <td><%= bank.name %></td>
        <td><%= bank.account_no %></td>
        <td><%= bank.additional_details %></td>
      </tr>
    <% end %>
  </table>
<% end %>
